**/*

!.github/
!.github/**
!custom_components/
!custom_components/**
!tests/
!tests/**

**/__pycache__
**/*.pyc
**/.DS_Store
**/.coverage

!.pre-commit-config.yaml
!hacs.json
!LICENSE
!pyproject.toml
!README.md
!requirements.test.txt
!setup.cfg